<link rel="stylesheet" href="~/css/PaytonPage.css" />

<div>

<header class = "headerw">
	<h1 class = "payton">PAYTON   PAYTON</h1>
	<p class="name">PAYTON</p>
	<h1 class ="both">PAYTON   PAYTON</h1>
	<div class ="popEffect">
		<span>PAYTON</span>
	</div>


</header>

<section class ="introduction-section">
	
	<p>Hi, my name is Payton Turnbow. I am a full time student at the University of Cincinnati. I currently study Information Technology on the Software Development Track.</p>
	<p>Some of the things I like to do are playing video games, watching movies, hanging with friends, and traveling. </p>
	<p>I am originally from Cincinnati, Ohio. At the age of ten I lived in Mesa, Arizona then returned to Cincinnati when I was 16. </p>

</section>



<section class ="funfacts-section">
	<h1 class="fun">Fun Facts About Me</h1>
	<p>I can write with both hands</p>
	<p>I have traveled to 45 states</p>
	<p>My birthday is June 22, I am a cancer</p>
	<p>My favorite colors are orange, black, and purple</p>
	<p>I have two cats named Meowgi and Peta</p>
	<p>I like to do digital art</p>
	<p>My dream is to travel to 100 different countries around the world</p>
	<p>My favorite class that I have taken at UC was Interpersonal Communication</p>
	<p>In high school, I played softball</p>
	<p> My favorite places to go is anywhere there is an ocean because I love being around the ocean.</p>

</section>

<div class="contact">
      <h3>Contact & Follow Me</h3>
      <div class="email"><a href="turnbopd@mail.uc.edu"><i class="fas fa-envelope"></i><span> Payton Turnbow's Email</span></a></div>
      <div class="website"><a href="https://github.com/turnbopd" target="_blank"> <i class="fas fa-home"></i><span> Payton Github</span></a></div>
    </div>

</div>
