<link rel="stylesheet" href="~/css/PaytonPage.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div>

<header class = "headerw">
	<h1 class = "payton">PAYTON   PAYTON</h1>
	<h1 class ="both">PAYTON   PAYTON</h1>

</header>

<section class ="introduction-section">
	<h1 class = "about">ABOUT ME</h1>
	<p>Hi, my name is Payton Turnbow. I am a full time student at the University of Cincinnati. I currently study Information Technology on the Software Development Track.</p>
	<p>Some of the things I like to do are playing video games, watching movies, hanging with friends, and traveling. </p>
	<p>I am originally from Cincinnati, Ohio. At the age of ten I lived in Mesa, Arizona then returned to Cincinnati when I was 16. </p>
	<p>My career goal is to become a Web Developer and travel around the world while doing so eventually being able to become a 6-figure freelance developer.  </p>

</section>



<section class ="funfacts-section">
	<h2 class ="fun">FUN FACTS</h2>
	<ol class="list">
	<li>I can write with both hands</li>
	<li>I have traveled to 45 states</li>
	<li>My birthday is June 22, I am a cancer</li>
	<li>My favorite colors are orange, black, and purple</li>
	<li>My favorite animals are cats and I have two cats named Meowgi and Peta</li>
	<li>I love watching the sunset.</li>
	<li>My dream is to travel to 100 different countries around the world</li>
	<li>My favorite class that I have taken at UC was Interpersonal Communication</li>
	<li>I really love memes (As you can see down below)</li>
	<li> My favorite places to go is anywhere there is an ocean because I love being around the ocean.</li>
</ol>
</section>


<div class="contact-section">
      <h3 class ="contact">FOLLOW ME HERE</h3>
		<a href ="https://www.linkedin.com/in/turnbowpayton/" class="linkedin">LinkedIn</a>
		<a href ="https://github.com/turnbopd" class="github">GitHub</a>
		<a href ="https://twitter.com/" class="twitter">Twitter</a>
		


    </div>
	<div class="meme1">
	<img src =https://img.wattpad.com/2cb365180d1659573a5a2d3b9fd6eb104fa2334a/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f4257534a393674375f43535257673d3d2d3930313539353835362e3136316639626637396137343362633534363633383839383139392e6a7067?s=fit&w=720&h=720
	alt="kitty meme" width="350" height="350"/>
</div>
<div class="meme2">
	<img src=https://helios-i.mashable.com/imagery/articles/044TS2z8KMNE7XMtfQdi0Ia/hero-image.fill.size_1248x702.v1648070788.png
	alt="office" width="350" height="350"/>
</div>
<div class ="meme3">
	<img src=https://i.redd.it/rgf7l0k0fi641.jpg alt="kanye" width="350" height="350" />
</div>
<div class ="meme4">
	<img src=https://i.pinimg.com/564x/95/2f/85/952f85eb25d127ec6736989565509689.jpg 
	alt="memes" width="350" height="350" />
</div>

<div class="footer">
  <p>© 2005-2021 PPTL, LLC</p>
</div>
	
</div>
