<link rel="stylesheet" href="~/css/Pruthivi.css" />

<div id="conteneur-id">
    <div id="conteneur-home">
        <div class="home">
            <h1>Pruthvi Patel</h1>
            <h2>IT Software Developer </h2>
        </div>
    </div>
    <div id="conteneur-about">
        <div class="about">
            <div class="profil-photo">
                <img src="https://media-exp1.licdn.com/dms/image/D5635AQFrUNPG6jyuUQ/profile-framedphoto-shrink_800_800/0/1632363011639?e=2147483647&v=beta&t=yNEN7NeIXFbZvi65CPwbqyyMxvnlEifC9U0h89kxxdQ" />
            </div>
            <div class="profil-text">
                <h2>About</h2>
                <p>
                 I am a quality-oriented college student (Bachelor of Science in Information Technology) currently attending University of Cincinnati. During the course of my academic career, I also managed to accrue nearly 16 months of work experience. I had the privilege of working for NSquair Air Conditioners in a assistant software developer role in my free time, where I learned valuable professional skills such as application development, routing and database development. In both my academic and professional life, I have been consistently praised as adaptable by my professors and peers. Whether working on academic, extracurricular, or professional projects, I apply proven creative thinking, critical thinking and management skills, which I hope to leverage into the Information technology role at your company. I am really very much curious about things, if I come across come thing or some problem that I don't know I would make sure that, I do the enough amount of research, which can help in understanding and solving the problem.
                </p>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
    <div id="conteneur-skills">
        <div class="skills">
            <div class="title">
                <h2>Skills</h2>
            </div>
            <div class="bardiv">
                <h3>HTML</h3>
                <div class="progressbar">
                    <span class="html"></span>
                </div>
                <h3>CSS</h3>
                <div class="progressbar">
                    <span class="css"></span>
                </div>
                <h3>.NET</h3>
                <div class="progressbar">
                    <span class="dotnet"></span>
                </div>
                <h3>Java</h3>
                <div class="progressbar">
                    <span class="java"></span>
                </div>
                <h3>SQL</h3>
                <div class="progressbar">
                    <span class="sql"></span>
                </div>
            </div>
        </div>
    </div>
</div>