 <link rel="stylesheet" href="~/css/TylerPage.css" />
    <link rel="stylesheet" href="~/css/TylerRS.min.css" />


<div>
    <header class='masthead'>
      <p class='masthead-intro'>Hi I'm</p>
      <h1 class='masthead-heading'>Tyler!</h1>
    </header>
    <section class="introduction-section">
        <h1>Introduction</h1>
        <p>I am a full-time student at UC, part-time worker at UC College of Nursing, and soon to be software developer when I graduate.</p>
        <p>Something I am very interested in is Technology, Movies and TV. When it comes to technology I have always been interestd in all the aspects of it. 
            When it comes to Movies/Tv I am a big fan of stuff like Marvel, Star Wars, etc.</p>
    </section>
    <section class="location-section">
        <h1>Where I'm From</h1>
        <p>I'm from Cleveland Ohio born and raised. </p>
    </section>
    <section class="questions-section">
        <h1>More About Me</h1>
        <h2>What are your favorite hobbies?</h2>
        <p>My favorite hobbies are playing video games, listening to music, hanging with my friends and watching sports.</p>
        <h2>What's your dream job?</h2>
        <p>My dream job is to be a front-end developer for a company.</p>
        <h2>Where do you live?</h2>
        <p>I currently am living in Cincinnati since I am attending school here.</p>
        <h2>Why do you want to be a web developer?</h2>
        <p>There is alot of creativity when it comes to web developing and I think that it is something that can be very fun and also challenging at times.Web development is very interesting to me and I think it is a field I would like to work in.</p>
    </section>
</div>
<div class="resume">
  <div class="base">
    <div class="profile">
      <div class="photo">
        <!--<img src="" /> -->
        <i class="fas fa-code"></i>
      </div>
      <div class="info">
        <h1 class="name">Tyler Malovrh</h1>
        <h2 class="job">Software Developer</h2>
      </div>
    </div>
    <div class="about">
      <h3>About Me</h3>I am a full-time student at University of Cincinnati gratduating Spring 2024 with a Bachelor of Science in Information Technology-Software Development Track.
    </div>
    <div class="contact">
      <h3>Contact Me</h3>
      <div class="call"><a href="tel:"><i class="fas fa-phone"></i><span></span></a></div>
      <div class="address"><a href="https://goo.gl/maps/nEpnEPDMMuR2L9RQ6"><i class="fas fa-map-marker"></i><span> Cincinnati, Ohio</span></a>
      </div>
      <div class="email"><a href=""><i class="fas fa-envelope"></i><span></span></a></div>
      <div class="website"><a href="" target="_blank"> <i class="fas fa-home"></i><span></span></a></div>
    </div>
    <div class="follow">
      <h3>Follow Me</h3>
      <div class="box">
        <a href="" target="_blank"><h1><i class="fab fa-linkedin"></i></h1></a>
        <a href="" target="_blank"><h1><i class="fa-brands fa-github"></i></h1></a>
      </div>
    </div>
  </div>
  <div class="func">
    <div class="work">
      <h3><i class="fa fa-briefcase"></i> Experience</h3>
      <ul>
        <li><span>IT Intern</span><small>Universal Metal Produts</small><small>Feb 2019 - Feb 2020</small></li>
        <li><span>Student Worker</span><small>College of Nursing</small><small>Mar 2022 - Present</small></li>
      </ul>
    </div>
    <div class="edu">
      <h3><i class="fa fa-graduation-cap"></i> Education</h3>
      <ul>
        <li><span>Information Technology-Software Development</span><small>University of Cincinnati</small><small>Aug 2021 - May 2024</small></li>
        <li><span>Assocaite Application Programing</span><small>Lakeland Community College</small><small>Aug 2018 - May 2021</small></li>
      </ul>
    </div>
    <div class="skills-prog">
      <h3><i class="fas fa-code"></i> Programming Skills</h3>
      <ul>
        <li data-percent="80"><span>HTML</span>
          <div class="skills-bar">
            <div class="bar"></div>
          </div>
        </li>
        <li data-percent="40"><span>Java</span>
          <div class="skills-bar">
            <div class="bar"></div>
          </div>
        </li>
        <li data-percent="10"><span>JavaScript</span>
          <div class="skills-bar">
            <div class="bar"></div>
          </div>
        </li>
        <li data-percent="40"><span>C#</span>
          <div class="skills-bar">
            <div class="bar"></div>
          </div>
        </li>
        <li data-percent="60"><span>.NET MVC</span>
          <div class="skills-bar">
            <div class="bar"></div>
          </div>
        </li>
        <li data-percent="80"><span>Swift</span>
          <div class="skills-bar">
            <div class="bar"></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="skills-soft">
      <h3><i class="fas fa-bezier-curve"></i> Software Skills</h3>
      <ul>
        <li data-percent="90">
          <svg viewbox="0 0 100 100">
            <circle cx="50" cy="50" r="45"></circle>
            <circle class="cbar" cx="50" cy="50" r="45"></circle>
          </svg><span>Visual Studio</span><small></small>
        </li>
        <li data-percent="80">
          <svg viewbox="0 0 100 100">
            <circle cx="50" cy="50" r="45"></circle>
            <circle class="cbar" cx="50" cy="50" r="45"></circle>
          </svg><span>Android Studio</span><small></small>
        </li>
        <li data-percent="90">
          <svg viewbox="0 0 100 100">
            <circle cx="50" cy="50" r="45"></circle>
            <circle class="cbar" cx="50" cy="50" r="45"></circle>
          </svg><span>Xcode</span><small></small>
        </li>
        <li data-percent="40">
          <svg viewbox="0 0 100 100">
            <circle cx="50" cy="50" r="45"></circle>
            <circle class="cbar" cx="50" cy="50" r="45"></circle>
          </svg><span>Visual Studio Code</span><small></small>
        </li>
      </ul>
    </div>
    <div class="interests">
      <h3><i class="fas fa-star"></i> Interests</h3>
      <div class="interests-items">
        <div class="movies"><h4><i class="fas fa-film"></i><span>Movies</span></h4></div>
        <div class="music"><h4><i class="fas fa-headphones"></i><span>Music</span></h4></div>
        <div class="games"><h4><i class="fas fa-gamepad"></i><span>Games</span></h4></div>
      </div>
    </div>
  </div>
</div>