<link rel="stylesheet" href="~/css/Yeati.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">



<div class="body">
    <div class="jumbotron" id="home">
        <h1>Hello,World!<br>I am Yeati Raj Mishra.</h1>
        <p>Scroll down, to learn more about me.</p>
        <ul class="list-inline">
            <li><a class="btn btn-default btn-lg" href="https://github.com/yeatimishra6" title="Me on GitHub" target="_blank"><i class="fa-brands fa-github"></i></a></li>
            <li><a class="btn btn-default btn-lg" href="https://www.linkedin.com/in/yeati-mishra/" title="Me on linkedin" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
      
    </div>



    <div class="about-me" id="about">
        <div class="container">
            <h1>About me</h1>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <h2><span class="glyphicon glyphicon-user"></span> Me</h2>
                    <p class="text-box">I am currently a student, improving my skills to become a software developer, very driven to learn new things and take on new challenges.</p>
                </div>
                <div class="col-md-4">
                    <h2><span class="glyphicon glyphicon-book"></span> Education</h2>
                    <p class="text-box">Currently pursuing a Bachelor degree in software development at the university of Cincinnati. Learning many languages like (C / C++ , Javascript , Java),computer frameworks, databases... </p>
                </div>
                <div class="col-md-4">
                    <h2><i class="fa fa-cogs" target="_blank"></i> Skills</h2>
                    <p class="text-box">C++, C#, HTML5/CSS3 , JavaScript , jQuery , Git, SQL</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"><img src="https://i.imgur.com/zG6OqGZ.png" class="img-responsive" /></div>
                <div class="col-md-4"><img src="https://i.imgur.com/SkvWf1p.png" class="img-responsive" /></div>
                <div class="col-md-4"><img src="https://i.imgur.com/vMsq6Pf.png" class="img-responsive" /></div>
            </div>
        </div>
    </div>




    <div class="portfolio" id="portfolio">
        <div class="container hovers">
            <h1>Portfolio</h1>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h2><i class="fa fa-desktop"></i> Word counter</h2>
                    <p>program that gives you most common words used in a any book you pick.</p>
                   
                </div>
                <div class="col-md-6">
                    <h2><i class="fa fa-desktop"></i> POS System</h2>
                    <p>WebApp that calculate tax, subtotal, and total of projects you i.</p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h2><i class="fa fa-gamepad"></i> Student score tracker</h2>
                        <p>
                          An application that allow user to input test score of student and it calculate avg score of all score. You allow as abilty of delete pervious scores. You can put the assignement name and class name.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h2><i class="fa fa-globe"></i> Website</h2>
                        <p>
                           created a website for an local business. 
                        </p>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>