@{
    ViewData["Title"] = "About Us";
}
    <link rel="stylesheet" href="~/css/AboutUs.css" />
 
<div class="hero">
	<div class="hero-content">
    <span class="brand">ABOUT US</span>
    <p class="gradient-mask-text"> This site is simple introduction to <strong> our deverloper.</strong> In this site you will be given introduction to our developer team and their hobbies.<strong>I hope you enjoy reading and learning about our developers.</strong></p> 
    <p class="gradient-mask-text"> Our developer are <strong>Payton Turnbow</strong> <br />
    <strong>...................... Pruthvi Patel</strong><br>
    <strong>...................... Tyler Malovrh</strong><br>
    <strong>.................. Yeati Mishra</strong><br />
    <strong>.................. Ragu Neopaney</strong></p>
</div>
</div>