@using FinalProjectWebServer.Models.ViewModel;

@model ContactUsViewModel
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <link rel="stylesheet" href="~/css/ContactUs.css" />
@{
    ViewData["Title"] = "Contact Us";
}

<div>
    <div class="contact-form-wrapper d-flex justify-content-center">
        <form method="post" asp-controller="AboutUs" asp-action="ContactUs" onsubmit="return checkform(this)" class="contact-form" id="myForm">
            <h5 class="title">Contact us</h5>
            <p class="description">
                Feel free to contact us if you need any assistance, any help or another question.
            </p>
            <div>
                <input asp-for="Name" type="text" class="form-control rounded border-white mb-3 form-input" id="name" placeholder="Name">
            </div>
            <div>
                <input asp-for="Email" type="email" class="form-control rounded border-white mb-3 form-input" id="email" placeholder="Email">
            </div>
            <div>
                <textarea asp-for="Message" id="message" class="form-control rounded border-white mb-3 form-text-area" rows="5" cols="30" placeholder="Message" id="message"></textarea>
            </div>
            <div class="submit-button-wrapper">
                <input type="submit" id="submit" value="Send" onclick="return empty()">
            </div>
        </form>
    </div>
</div>
<div>
    <table id="ContactUsTable" >
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Message</th>
            </tr>
        </thead>
    </table>
</div>

@section scripts {
           <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

        <script>
            $(document).ready( function () {
                    $('#ContactUsTable').DataTable({
                        "processing": true,
                        "serverSide" : false,
                        "filter": true,
                        "orderMulti": true,
                        "ajax": {
                            "url": "/ContactUs/GetAllContactUS",
                            "type" : "POST",
                            "datatype": "json",
                        },
                        "columns": [
                            {"data": "Name","autoWidth" : true},
                            {"data": "Email", "autoWidth" : true},
                            {"data": "Messsage", "autoWidth" : true},
                        ],
    
                    });
                } );
        </script>
}