.headerw {
    padding: 3.5em 0;
    background-image: linear-gradient(to right,tomato,plum);
    background-size: cover;
    background-repeat: no-repeat;
    
    text-align: center;
    
}




.both,.payton {
    font-family: Blippo,fantasy;
    font-size: 4.5em;
    font-weight: bold;
    letter-spacing: 0.5em;
    color: powderblue;
    transform: rotateY(150deg);
}
.about {
    font-family: Blippo,fantasy;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.5em;
    color: hotpink;
    text-align: center;
    text-decoration: underline;
}
.contact {
    font-family: Blippo,fantasy;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.5em;
    color:hotpink;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 3vh;
}

.contact-section {
    font-family: Chalkduster,fantasy;
    color: thistle;
    text-align:center;
    
}

.introduction-section {
    text-align: center;
    font-size:1.2em;
    font-family: 'Bitter', serif;
    margin-top: 5vh;

}
.funfacts-section {
    text-align: center;
    font-size: 1.2em;
    font-family: 'Bitter', serif;
    margin-top: 5vh;
}
.fun {
    font-family: Blippo,fantasy;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.5em;
    color: orchid;
    text-align: center;
    text-decoration: underline;
}

ol.list {
    list-style-type: upper-roman;
    
    text-align: left;
    margin-left: 700px;
}
p,li {
    font-family: Chalkduster,fantasy;
    
    color: thistle;
}
.meme1 {
    display: block;
   
    float:left;
}
.meme2{
    display:block;
    float:left;
}
.meme3{
    display:block;
    float: right;
}
.meme4 {
    display: block;
   float:right;
}

.github,.twitter,.linkedin {
    padding: 20px;
    font-size: 16px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 3px 1.5px;
    margin-top: 3vh;
    background: thistle;
    color: ivory;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to right,tomato,plum);
    color: white;
    text-align: center;
}

 